.container {
    background: #e6e6e6;
    padding: 10px;
    border-radius: 6px;
    width: 100%;
    max-width: 800px;
}

.input {
    width: 100%;
    box-sizing: border-box;
    min-height: 40px;
    padding: 10px;
}

.input-mensaje {
    width: 100%;
    box-sizing: border-box;
    min-height: 100px;
}

.boton-enviar {
    width: 100%;
    min-height: 40px;
    background-color: #524C9E;
    color: white;
}

.boton-enviar:hover {
    background-color: #9D81A2;
}

.boton-enviar:active {
    background-color: red;
}

.boton-volver {
    width: 100%;
    min-height: 40px;
    background-color: #5D81A2;
}

.boton-volver:hover {
    background-color: #9D81A2;
}

.boton-volver:active {
    background-color: red;
}