*{
    font-family: Verdana;
    color: rgb(71, 71, 71);
    font-size: small;
}

.cabecera {
    display: flex;
    background-color: rgb(60, 66, 95);
    color: white;
}

.profile-picture {
    height: 150px;
    border-radius: 50%;
    padding: 1%;
}

.presentacion {
    background-color: white;
    margin: 2%;
    color: rgb(92, 92, 92);
    padding: 2%;
    border-radius: 2em;
}

.nav-bar {
    display: flex;
}

.datos-personales {
    background: #d1d0d0;
    padding: 1%;
}

.title {
    font-weight: bold;
}

.contenido {
    padding: 2em;
}

.date {
    color: gray;
    font-size: small;
}

h3 {
    background-color: rgb(183, 176, 189);
    padding: 2px;
}

.my-button {
    padding: 10px 20px;
    background-color: rgb(60, 66, 95);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}



.datos-personales {
}

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-areas:
        "header header"
        "main main-2"
        "main main-3"
        "main main-4"
        "main main-5"
        "main main-6"
        "main main-7";
    gap: 10px;
}

.item-titulo {
    grid-area: header;
    text-align: left;
    color: white;
    background-color: #2980b9;
    border-radius: 5px;
    padding: 10px;
}

.item-linkedin {
    grid-area: main;
    background: #b5e0cf;
    text-align: left;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

.item-direccion {
    grid-area: main-2;
    background: #d1d0d0;
    text-align: left;
    border-radius: 5px;
    padding: 10px;
}

.item-telefono {
    grid-area: main-3;
    background: #d1d0d0;
    text-align: left;
    border-radius: 5px;
    padding: 10px;
}

.item-email {
    grid-area: main-4;
    background: #d1d0d0;
    text-align: left;
    border-radius: 5px;
    padding: 10px;
}

.item-nacimiento {
    grid-area: main-5;
    background: #d1d0d0;
    text-align: left;
    border-radius: 5px;
    padding: 10px;
}

.item-nacionalidad {
    grid-area: main-6;
    background: #d1d0d0;
    text-align: left;
    border-radius: 5px;
    padding: 10px;
}

.item-subrayado {
    text-decoration: underline;
}
