@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200&display=swap');

* {
  font-family: "Raleway", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  padding: 30px;
}

/* MENU: NAVBAR/HEADER */

nav {
  background-color: #34495E;
}

nav ul {
  margin: 0;
  padding: 10px;
  list-style-type: none;
  display: flex;
}

nav ul li {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 25%;
  text-align: center;
}

nav ul li a {
  color: #eeeeee;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 100;
  width: 100%;
  display: block;
  padding: 5px;
}

nav ul li a:hover {
  background-color: rgba(131, 145, 146, 0.3);
}

/* SECTION MAIN IMAGE */

#section-main-image {
  height: 80vh;
  background-image: url('../images/cc-bg-1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#section-main-image h1 {
  color: rgba(255, 255, 255, .5);
  margin: 0;
  font-size: 50px;
}

#section-main-image h2 {
  color: white;
  text-shadow: 2px 2px 5px #000;
}


.profile-picture {
  max-height: 100px;
  align-content: center;
  border-radius: 10em;
  box-shadow: 7px 7px 12px 0 rgba(20, 20, 20, 0.3);
  border: #74a0cc solid 1px;
}

/* SECTION SECCIONES */

#article-secciones h2 {
  margin-top: 40px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 20px;
}

#article-experiencia h2 {
  margin-top: 40;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 20;
}

.article-section-secciones p {
  text-align: justify;
}

.article-section-secciones p::first-letter {
  font-size: 24px;
  font-weight: bold;
}

#section-secciones {
  background-color: #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
}

/*EXPERIENCIA*/
.list-wrapper-experiencia {
  width: 90%;
  max-width: 800px;
  margin-top: 30px;
  margin-bottom: 30px;
}

/* List component */
.list-experiencia {
  background-color: white;
  list-style: none;
  margin: 0;
  padding: 15px;
  border-radius: 2px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);;
}

.list-experiencia .list-item-experiencia {
  display: flex;
  padding: 0px 0px;
}

.list-experiencia .list-item-experiencia:not(:last-child) {
  border-bottom: 1px solid #eeeeee;
}

/*list item image wrapper*/
.list-experiencia .list-item__image-experiencia {
  flex-shrink: 0;
  height: 80px;
}

.list-experiencia .list-item__image-experiencia img {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  padding: 3px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

/*list item content*/
.list-experiencia .list-item__content-experiencia {
  flex-grow: 1;
  padding-left: 20px;
  padding-right: 20px;
}

.list-experiencia .list-item__content-experiencia h1 {
  margin-top: 15px ;
  font-size: 18px;
}

.listexperiencia .list-item__content-experiencia p {
  margin-top: 5px ;
  margin-bottom: 0px ;
  color: #AAA;
}

/*CONOCIMIENTOS*/
#article-secciones-conocimientos h2 {
  margin-top: 40px;
  margin-bottom: 20px;
}


.contenedor-conocimientos {
  display: flex;
  justify-content: space-around;
}

.card-conocimientos {
  background-color: white;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  box-shadow: 0px 0px 7px 0px lightgrey;
  border: 0;
  width: 200px;
}

.cuerpo-conocimientos {
  flex: 1 1 0;
  margin: 5px;
  padding: 8px;
  font-size: 11px;
}

.title-conocimientos {
  background: #34495E;
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  height:40px;
}

.pie-conocimientos {
  background: #74A0CC;
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  height:30px;
}



/*RECONOCIMIENTOS*/

#article-secciones-recomendaciones {
  width: 80%;
  margin: 0 auto;
  align-items: center;
}

.nav-datos {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 6fr;
  margin: 0 auto;
}

.datos {
  padding: 10px;
  border-radius: 15px;
  margin: 2px;
  font-size: 12px;
  font-weight: bold;
}


.ampliar2 {
  grid-column: 1/3;
}

.estirar2 {
  grid-row: 2/7;
}

.titulo {
  background-color: #34495E;
  color: white;
}

.detalle1 {
  background-color: rgba(171, 194, 235, 0.3);

}

.detalle2 {
  background-color: rgb(242, 243, 244);

}

.clsinput {
  border-radius: 3px;
  border-width: 0.3px;
  border-color: #34495E;
  width: 90%;
}

.clsbuttom {
  margin-top: 15px;
  color: #212F3C;
  padding: 2px 30px;
}

.title {
  font-weight: bold;
  font-size: 15px;
}

/* FOOTER CONTACT */

#footer-contacto {
  background-color: #566573;
  color: #eeeeee;
  display: flex;
  justify-content: center;
}

#footer-contacto .contact-data {
  display: flex;
  justify-content: space-between;
}

.container-footer {
  width: 80%;
  padding: 0px 0px;
}

.contact-info li {
  font-size: 12px;
  padding: 10px;
}

.contact-info a {
  color: #fff;
  text-decoration: none;
}

.contact-info a:hover {
  color: #74a0cc;
}

.contact-form form {
  margin-left: 50px;
  text-align: left;
}

.contact-form form .form-control {
  padding: 10px 0;
}

.contact-form form .form-control input {
  border-radius: 3px;
  border: 0.3px solid #34495E;
  width: 250px;
}

.contact-form form .form-control textarea {
  border-radius: 3px;
  border: 0.3px solid #34495E;
  width: 250px;
}

.contact-form form .form-control label {
  margin-right: 15px;
  font-size: 12px;
  font-weight: bold;
}

.contact-form form button {
  margin-top: 15px;
  color: #212F3C;
  padding: 2px 30px;
}